<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ass2.final_project_i190727_i190542_i180580">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Project_i190727_i190542_i180580"
        tools:targetApi="31">
        <activity
            android:name=".detailedCompletedRequest"
            android:exported="false" />
        <activity
            android:name=".detailedAcceptedRequestHall"
            android:exported="false" />
        <activity
            android:name=".detailedAcceptedRequestNGO"
            android:exported="false" />
        <activity
            android:name=".detailedPendingRequestNGO"
            android:exported="false" />
        <activity
            android:name=".moneyReceived"
            android:exported="false" />
        <activity
            android:name=".acceptedRequestNGO"
            android:exported="false" />
        <activity
            android:name=".pendingRequestNGO"
            android:exported="false" />
        <activity
            android:name=".detailedPendingRequestHall"
            android:exported="false" />
        <activity
            android:name=".donationHistoryHall"
            android:exported="false" />
        <activity
            android:name=".tutorial"
            android:exported="false" />
        <activity
            android:name=".pendingRequestHall"
            android:exported="false" />
        <activity
            android:name=".acceptedRequestHall"
            android:exported="false" />
        <activity
            android:name=".donateFood"
            android:exported="false" />
        <activity
            android:name=".donateMoney"
            android:exported="false" />
        <activity
            android:name=".NGO_Home"
            android:exported="false" />
        <activity
            android:name=".appSettings"
            android:exported="false" />
        <activity
            android:name=".ourTeam"
            android:exported="false" />
        <activity
            android:name=".aboutPZH"
            android:exported="false" />
        <activity
            android:name=".viewProfilePicture"
            android:exported="false" />
        <activity
            android:name=".updateContactInformation"
            android:exported="false" />
        <activity
            android:name=".viewProfile"
            android:exported="false" />
        <activity
            android:name=".Hall_Individual_Home"
            android:exported="false" />
        <activity
            android:name=".addProfilePicture"
            android:exported="false" />
        <activity
            android:name=".profileSetUp"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".loginScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>